
<div class="container" style="margin-left: 100px;">
    <div class="demo">
        <h1><b>Updates</b></h1>
        <br><br>
        <div>
            <h2>Event 1</h2>
            <p>This is Event 1 and its contents would be displayed here !</p> 
        </div>
        <div>
            <h2>Event 2</h2>
            <p>This is Event 1 and its contents would be displayed here !</p> 
        </div>
        <div>
            <h2>Event 3</h2>
            <p>This is Event 1 and its contents would be displayed here !</p> 
        </div>
        <div>
            <h2>Event 4</h2>
            <p>This is Event 1 and its contents would be displayed here !</p> 
        </div>
        
    </div>
    </div>
