
    <div>
        <router-outlet></router-outlet>
    </div>





    <div class="nav_neuo">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nav class="nav">
    <a href="#" class="nav__link" routerLink = "club-main">
        <!-- <i class="material-icons nav__icon">dashboard</i> -->
        <span class="nav__text"><b> HOME </b></span>
    </a>
    <a href="Club_Meets.html" class="nav__link" routerLink = "club-meet">
        <!-- <i class="material-icons nav__icon">person</i> -->
        <span class="nav__text">MEETS</span>
    </a>
    <a href="Club_Chats.html" class="nav__link" routerLink = "club-chats">
        <!-- <i class="material-icons nav__icon">devices</i> -->
        <span class="nav__text">CHATS</span>
    </a>
    <a href="Club_Events.html" class="nav__link" routerLink = "club-events">
        <!-- <i class="material-icons nav__icon">lock</i> -->
        <span class="nav__text">EVENTS</span>
    </a>
    <a href="Club_Team.html" class="nav__link" routerLink = "club-team">
        <!-- <i class="material-icons nav__icon">settings</i> -->
        <span class="nav__text">TEAM</span>
    </a>
    </nav>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


  
