<body id="body_club" *ngIf="Current_Logged_User[0].Name.length>0">
    <div>
        <div id="sideNavContent">
            <nav class="menu" tabindex="0" id="mySidebar">
                <div>
                    <header class="avatar">
                            <img src="{{Current_Logged_User[0].Profilepic}}" id="profilepic" width="100px" height="100px;"/>
                            <h2 id="username">{{Current_Logged_User[0].Name}}</h2>
                    </header>
                    <ul>
                        <li [routerLink]="[{outlets: {todo: 'todo-list'}}]" (click)="showTodo($event)" tabindex="0" class="icon-todo"><span>📝 &nbsp; MY To do List</span></li>
                        <li [routerLink]="[{outlets: {clubs: 'user-clubs'}}]" (click)="showClubs($event)" tabindex="1" class="icon-clubs"><span>🏠 &nbsp; My Clubs</span></li>
                        <li [routerLink]="[{outlets: {ustore: 'ustore'}}]" (click)="showUstore($event)" tabindex="1" class="icon-ustore"><span>📂 &nbsp; UStore</span></li>
                        <li [routerLink]="[{outlets: {search: 'search'}}]" (click)="showSearch($event)" tabindex="2" class="icon-others"><span>🙋‍♂️ &nbsp; Find Members</span></li>
                        <li (click)="showProfile($event)" tabindex="3" class="icon-profile"><span>👨‍💼 &nbsp; My Profile</span></li>
                        <li (click)="clearHistory()" tabindex="3" class="icon-logout"><span>😴 &nbsp; Logout</span></li>
                    </ul>
                </div>
            </nav>

            <div id="Logo" class="nav navbar-nav navbar-right">
                <img src="./assets/home/Logo.png" id="toggleLogo" (click)="openCloseNav($event)"/>
                <img src="https://static.thenounproject.com/png/670445-200.png" (click)="darkMode($event)" height="70px" width="70px" style="padding-right:20px;padding-left:600px;border: 1px;border-radius:45%">
                <img src="https://icons.veryicon.com/png/o/commerce-shopping/small-icons-with-highlights/day-mode-bright-mode.png" (click)="lightMode($event)" height="70px" width="70px" style="border: 1px;border-radius:45%">
            </div>
    
        </div>

        <div style="height: 400px;" id="right-side">
            <div id="profile">
                <main>
                <div class="helper" id="helper" style="color:rgb(58, 57, 57);">
                    WELCOME BACK &nbsp;🤗 &nbsp;&nbsp;{{Current_Logged_User[0].Name.substr(0, Current_Logged_User[0].Name.indexOf(' '))}}<br><br><br>
                        <div>
                            <p id="parag" style="color:rgb(58, 57, 57);text-align: center;text-decoration: underline dotted rgb(168, 23, 23);">
                                ✉   Email &nbsp;:&nbsp;  {{Current_Logged_User[0].Email}}<br><br>
                                📞  Contact &nbsp;:&nbsp; {{Current_Logged_User[0].Phone}}<br><br>
                                📅   Joined At &nbsp;:&nbsp; {{Current_Logged_User[0].JoinDate.substring(0,16)}}<br><br>
                            </p>        
                        </div>
                </div>
                </main>
            </div>
            <div id="ustore">
                <router-outlet name='ustore'></router-outlet>
            </div>
            <div id="search">
                <router-outlet name='search'></router-outlet>
            </div>
            <div id="clubs" class="routerDiv">
                <router-outlet name='clubs'></router-outlet>
            </div>
            <div id="todo">
                <router-outlet name='todo'></router-outlet>
            </div>
    
        </div>
        

    </div>

    

</body>


























































