<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
	<title>404 Error Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
<section id="error">
	<div class="content">
		<div>
			<i class="fa fa-warning"></i>
		</div>
		<div class="error-class">
			<h1>404</h1>
		</div>
		<div class="error-class">
			<p>Error occurred! - File not Found</p>
		</div >
		<div class="error-class">
			<a class="back" href="#">Back</a>
		</div>
	</div>
</section>
<footer>
	<p>© 2021 404 Error. All Rights Reserved | Design by <a class="w3hubs" href="">Tech-Aspires</a></p>
</footer>

</body>
</html>